FutureProj/Serv/Connected Services/HuanXunWebService/WSTradeQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://payat.ips.com.cn/WebService/TradeQuery" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSTradeQuery" targetNamespace="http://payat.ips.com.cn/WebService/TradeQuery" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="getTradeByNoResponse">
    <wsdl:part name="getTradeByNoResult" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTradeByNo">
    <wsdl:part name="tradeQuery" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTradeByTime">
    <wsdl:part name="tradeQuery" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTradeByMerBillNoResponse">
    <wsdl:part name="getTradeByMerBillNoResult" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTradeByMerBillNo">
    <wsdl:part name="tradeQuery" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTradeByTimeResponse">
    <wsdl:part name="getTradeByTimeResult" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="TradeQueryService">
    <wsdl:operation name="getTradeByTime">
      <wsdl:input name="getTradeByTime" message="tns:getTradeByTime" />
      <wsdl:output name="getTradeByTimeResponse" message="tns:getTradeByTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTradeByMerBillNo">
      <wsdl:input name="getTradeByMerBillNo" message="tns:getTradeByMerBillNo" />
      <wsdl:output name="getTradeByMerBillNoResponse" message="tns:getTradeByMerBillNoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTradeByNo">
      <wsdl:input name="getTradeByNo" message="tns:getTradeByNo" />
      <wsdl:output name="getTradeByNoResponse" message="tns:getTradeByNoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSTradeQuerySoapBinding" type="tns:TradeQueryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getTradeByMerBillNo">
      <soap:operation soapAction="http://payat.ips.com.cn/WebService/TradeQuery/getTradeByMerBillNo" style="rpc" />
      <wsdl:input name="getTradeByMerBillNo">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/TradeQuery" />
      </wsdl:input>
      <wsdl:output name="getTradeByMerBillNoResponse">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/TradeQuery" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTradeByTime">
      <soap:operation soapAction="http://payat.ips.com.cn/WebService/TradeQuery/getTradeByTime" style="rpc" />
      <wsdl:input name="getTradeByTime">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/TradeQuery" />
      </wsdl:input>
      <wsdl:output name="getTradeByTimeResponse">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/TradeQuery" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTradeByNo">
      <soap:operation soapAction="http://payat.ips.com.cn/WebService/TradeQuery/getTradeByNo" style="rpc" />
      <wsdl:input name="getTradeByNo">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/TradeQuery" />
      </wsdl:input>
      <wsdl:output name="getTradeByNoResponse">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/TradeQuery" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTradeQuery">
    <wsdl:port name="WSTradeQuerySoap" binding="tns:WSTradeQuerySoapBinding">
      <soap:address location="http://newpay.ips.com.cn:80/psfp-entry/services/trade" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>